.Comment {
  display: table;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 1em;
  background-color: var(--color-canopy-primary);
}

.Comment > h4 {
  font-weight: 500;
  margin: 0;
}
.Comment > p {
  font-style: italic;
  margin: 0 2em;
}
