.Comment { margin-bottom: 1em; }

.Comment > div {
  max-width: 35em;
}

.Comment > h4 {
  font-weight: 500;
  margin: 0;
}
.Comment > div > p {
  display: table;
  width: 80%;
  margin: 0 1em;
  padding: 1em;
  border-radius: 1em;
  background-color: var(--color-canopy-primary);
  color: var(--color-background-main);
}

.Comment > div > span {
  float: right;
  width: 10%;
  cursor: pointer;
}

.Comment > div > span:hover {
  color: var(--color-canopy-danger);
}

@media (max-width: 650px) {
  .Comment > div > p {
    width: 75%;
  }

  .Comment > div > span {
    width: 5%;
  }
}
