.JobInfo {
  font-size: 1.1em;
  text-align: center;
  margin-bottom: 4em;
  padding: 1em;
  border-bottom: 1px solid var(--color-separator-main);
}
.JobInfo > h2 { color: var(--color-canopy-success); }
