.Photos > .grid > .image-tile {
  float: left;
  height: 8em;
  width: 8em;
  margin-right: 1em;
  position: relative;
  text-align: center;
}

.Photos > .grid > .image-tile > img {
  height: 100%;
  width: 100%;
}

.Photos > .grid > .image-tile > h4 {
  background-color: black;
  bottom: 0;
  color: var(--color-background-main);
  letter-spacing: 0.1em;
  left: 0;
  margin: 0;
  opacity: 0.85;
  padding: 0.25em;
  position: absolute;
  width: calc(100% - 0.5em);
}

@media (max-width: 1000px) {
  .Photos > .grid > .image-tile {
    margin-bottom: 1em;
    height: 14em;
    width: 14em;
  }
}
