.ScheduledItem:not(.completed):hover {
  color: var(--color-canopy-success);
  cursor: pointer;
}

.ScheduledItem.completed {
  color: var(--color-text-secondary);
}

.ScheduledItems ul {
  padding-left: 1.5em;
}

@media (max-width: 850px) {
  .ScheduledItems ul {
    width: 100%;
  }
}
