.Technician img {
  border-radius: 50%;
  float: left;
  height: 7em;
  width: 7em;
}

.Technician .details {
  float: right;
  margin: 1em 2em 0 0;
}

@media (max-width: 1120px) {
  .Technician .details {
    margin: 1em 0;
  }
}

@media (max-width: 1024px) {
  .Technician .details {
    float: none;
    position: absolute;
    margin: 1em 0 0 2em;
  }
}
