.Technician {
  overflow: hidden;
  position: relative;
}

.Technician > img {
  border-radius: 50%;
  float: left;
  height: 5em;
  width: 5em;
}

.Technician .details {
  bottom: 0;
  left: 5.5em;
  margin-bottom: 0.5em;
  position: absolute;
}
