.Technician > div > img {
  border-radius: 50%;
  float: left;
  height: 5em;
  width: 5em;
}

.Technician .details {
  float: right;
  margin: 0.5em 5em 0 0;
}

@media (max-width: 1100px) {
  .Technician .details {
    float: none;
    margin: 0;
    width: 15em;
  }
}
