.App > .main-content { margin-top: 2em; }

.App .section {
  padding: 0.1em 0 1em;
}

.App .section-secondary {
  clear: both;
  padding: 0.5em 2em;
}

.App .section h3 {
  padding-bottom: 0.5em;
  text-align: center;
  color: var(--color-canopy-primary);
}

.App .section .contents {
  margin-left: 1em;
}
