:root {
  --color-background-main: #F7F7F7;
  --color-canopy-danger: #D1495B;
  --color-canopy-primary: #6AC7FD;
  --color-canopy-primary-dark: #306BAC;
  --color-canopy-success: #7EBC89;
  --color-text-main: #37474f;
  --color-text-link: var(--canopy-color-primary);
  --style-font-main: "Avenir Next", Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
}

body {
  background-color: var(--color-background-main);
  color: var(--color-text-main);
  font-family: var(--style-font-main);
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-text-link);
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.content-aligned {
  margin: 0 auto;
  min-width: 310px;
  max-width: 960px;
  width: 90%;
}
